body {
    font-family: 'Roboto';font-size: 15px;
    margin: 0px;
    padding: 0px;
  }

  canvas {
    margin: 0 auto;
    display: block;
    position: relative;
  }

  @keyframes mymove{
0% {
  opacity:0;
  transform:  rotate(0deg) scaleX(0) scaleY(0) ;
}
50% {
  opacity:1;
  transform:  rotate(0deg) scaleX(1) scaleY(1) ;
}
100% {
  opacity:0;
  transform:  rotate(0deg) scaleX(0) scaleY(0) ;
}
}
  button{
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    border: none;
    background-color: #00000000;
    margin: 0 auto;
    display: block;
    margin-top: 4%;
  }

  #actionButtons button{
    color: #fff;
    background-color: #596cb3;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }

  #actionButtons button:hover {
    background-color: #9090cb;
  }

  #actionButtons button:active {
    background-color: #818cb5;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  div{
    margin: 0 auto;
    margin-top: 3%;
    padding-bottom: 30px;
}

h1{
    text-align: center;
    margin-top: 50px;
}